#Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

#IPython
profile_default/
ipython_config.py

datasets/
wrf-cuenca/src/logs/
wrf-cuenca/src/my_exec_cuencas.sh
gfsRaster/matrices/
gfsRaster/geotiff/20*/
Notebooks/contador_tiffs_none.ipynb
